.Fibonacci-content {
    margin-top: 40px;
}

.Fibonacci-sequence {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
    max-height: 50vh;
    overflow-y: scroll;
}

.Fibonacci-invalid {
    background-color: #f44336;
    padding: 20px;
}

.Fibonacci-number {
    border: 1px solid #444;
    padding: 10px;
    float: left;
}

.Fibonacci-output {
    font-size: x-large;
    position:absolute;
    bottom:0px;
    padding: 10px;
    width:100%;
    background-color: #2c2c2c;
    z-index: 1;
}